### Data tests

In [3]:
# import os
# from data.alpha import Alpha

# path = os.path.join(os.path.expanduser('~'), "git/bakery/bakery/data/config.json")
# alpha = Alpha(path)

# # Active list
# result = alpha.etl_active_list()

# # Daily
# symbols = ["TSLA", "MSFT", "IBM", "AAPL"]
# result = alpha.etl_daily(symbols=symbols)

# # Hourly
# symbols = ["NVDA", "META"]
# years = list(range(2022, 2024))
# months = list(range(1, 13))
# result = alpha.etl_hourly(symbols=symbols, years=years, months=months)

"Truncate collection". ie. delete all documents, but keep empty collection

In [6]:
# import os
# import json
# from pymongo import MongoClient

# path = os.path.join(os.path.expanduser('~'), "git/bakery/bakery/data/config.json")
# with open(path, "rb") as f:
#     config = json.loads(f.read().decode())
# client = MongoClient(config["mongo"]["conn_str"])

# db = client["bakery"]
# coll = db["alpha_daily"]

# result = coll.delete_many({})

Read from DB

In [4]:
import os
import json
from pymongo import MongoClient
import pandas as pd

path = os.path.join(os.path.expanduser('~'), "git/bakery/bakery/data/config.json")
with open(path, "rb") as f:
    config = json.loads(f.read().decode())
client = MongoClient(config["mongo"]["conn_str"])

db = client["bakery"]
coll = db["alpha_daily"]

cursor = coll.aggregate([
    {
         "$group": {
            "_id": "$symbol",
            "min": {"$min": "$dttm"},
            "max": {"$max": "$dttm"}
        }
    }
])

In [5]:
df = pd.DataFrame(list(cursor))

In [7]:
df.shape

(11619, 3)

In [9]:
df.sort_values(by="_id")

       _id        min        max
9738     A 2024-01-23 1999-11-18
8053    AA 2024-01-23 2016-10-18
7115   AAA 2024-01-23 2020-09-09
1960  AAAU 2024-01-23 2018-08-15
2158  AACG 2024-01-23 2008-01-29
...    ...        ...        ...
176   ZYRX 2024-01-23 2007-07-13
3605  ZYXI 2024-01-23 2012-07-23
7365   ZZK 2023-05-12 2020-07-22
2762   ZZZ 2024-01-23 2023-12-28
4094   NaN 2024-01-23 1999-11-01

[11619 rows x 3 columns]

### Dash tests

In [5]:
# import os
# import json
# import streamlit as st
# from pymongo import MongoClient
# import pandas as pd

# path = os.path.join(os.path.expanduser('~'), "git/bakery/bakery/data/config.json")

# with open(path, "rb") as f:
#     config = json.loads(f.read().decode())

# client = MongoClient(config["mongo"]["conn_str"])
# db = client["bakery"]
# coll = db["alpha_daily"]

# query = {"symbol": "TSLA"}
# df = pd.DataFrame(list(coll.find(query)))

# print(df.head(25))